apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "${projectName}.fullname" . }}
  labels:
    {{- include "${projectName}.labels" . | nindent 4 }}
  annotations:
    # Add annotations for AWS IAM roles, GCP service accounts, etc.
    # eks.amazonaws.com/role-arn: arn:aws:iam::123456789012:role/{{projectName}}-role
automountServiceAccountToken: true
